<!DOCTYPE>

<html>

	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Login</title>
    <link rel="stylesheet" href="css/style.css">
	</head>

	<body>

		<div id="header" class="clearfix">
			<div class="page_wrap">
				<div class="logo">
					<img src="img/ListenUp_logo_white.png" alt="listenUp_logo">
				</div>

				<div class="homeButton">

				<a href="http://www.google.com">
					<button class="button">Login</button>
				</a>

                </div>
                
                <div class="getStarted">
                    
                                    <a href="http://www.google.com">
                                        <button class="button">Get Started</button>
                                    </a>
                    
                </div>
			</div>
		</div>
		<!-- end of header -->

		<div id="main" class="clearfix">
            <h1 class="title">Credits</h1>
			<div class="page_wrap">
				<div class="credits">

                    <div class="audio_video">
                        <p>audio & video</p>
                        <a href="https://www.easy-languages.org/">
                            <img class="img1" src="img/EasyLanguages.png" alt="easylanguage">
                        </a>
                        <a href="http://www.shutupandgo.travel/">
                            <img class="img2" src="img/shutupandgo.png" alt="shupupandgo">
                        </a>
                    </div>

                    <div class="technology">
                        <p>technology</p>

                        <img class="img1" src="img/nodeJS.png" alt="nodejs">
                        <img class="img2" src="img/reactJS.png" alt="reactjs">
                        <img class="img3" src="img/webpack-logo-horizontal.png" alt="webpack">
                        <img class="img4" src="img/mongodb-logo.png" alt="mongodb">

                    </div>
                    
                    <div class="team">
                        <p>team</p>

                        <div class="krystina">
                            <p class="p1">Krystina Kuba</p>
                        </div>

                        <div class="jose">
                            <p class="p2">Jose Platas</p>
                        </div>

                        <div class="terrence">
                            <p class="p3">Terrence Tran</p>
                        </div>

                        <div class="jennifer">
                            <p class="p4">Jennifer Tsan</p>
                        </div>


                    </div>
					
					
				</div>

			<div>

		<div>



	</body>



</html>
