<!DOCTYPE HTML>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/home.css"> 
</head>

<body>
    <div class = "wrapper">
    
    <!--Nav-->
    <nav>
        <img src="img/ListenUp_logo_white.png" class ="logo">
        <ul>
            <li class = "signupButton getStartedButton"><a href="#">Get Started</a></li>
            <li class = "whiteLink"><a href="#">Login</a></li>
        </ul>
    </nav>

    <!--Section 1 (Greeting)-->
    <section class="intro">  
        <div class="content">

        <h1 class="whiteHeader">Practice your listening comprehension
            by listening to how natives <strong>actually</strong> talk.
        </h1>

        <div class="centerButton signupButton">
            <a href="#">Get Started</a>
        </div>

    </div>
    </section>

    <!--Section 2 (About)-->
    <section class="about">
        <div class="content">

            <h2>So, you still can’t understand anything that native speakers are saying.
                Welcome to the <em>«Intermediate Hell»</em> of language learning.</h2>
            <h1 class="blueHeader">It's time to listenUP.</h1>

            <div class = "column-container">
                
                <div class = "col">
                    <h4>real speakers.</h4>
                    <p>Listen to audio clips of native
                        speakers in your target language
                        as they answer questions or
                        discuss everyday topics.</p>
                </div>

                <div class = "col">
                    <h4>real talk.</h4>
                    <p>Ditch the scripted conversations
                        for beginners and get a feel for how
                        natives truly express themselves,
                        like, um... filler words and all!</p>
                </div>

                <div class = "col">        
                    <h4>real effective.</h4>
                    <p>All 2 of our test subjects have
                        agreed that listenUp is helpful.
                        That’s, like, half of our entire
                        development team!</p>
                </div>

            </div>
        </div>
    </section>

    <!--Section 3 (How it works)-->
    <section class="howitworks">
        <div class="content">
            <h3>how it works</h3>

            <div class = "column-container">
                    
                    <div class = "col">
                        <img src ="img/how_screenshot.png">
                        <h4>listen.</h4>
                        <p>We'll play short clips of native speakers 
                            having natural conversations, answering 
                            interview questions, or doing skits.
                        </p>
                    </div>
    
                    <div class = "col">
                        <img src ="img/how_screenshot.png">
                                               
                        <h4>answer.</h4>
                        <p>We offer two exercises: Transcription and Quiz. 
                            You'll either transcribe the given audio clip or 
                            take a mini-quiz on the content presented.
                        </p>                            
                    </div>
    
                    <div class = "col">
                        <img src ="img/how_screenshot.png">                            
                        <h4>learn.</h4>
                        <p>Get scored based on your answer. Review exercises 
                            and improve over time with repetition. You'll be 
                            listening like a pro in no time!
                        </p>                                                        
                    </div>
    
                </div>

        </div>
    </section>
  
  <footer>
    <a href="#" class="whiteLink">Credits</a>
  </footer>

    </div>
  </body>
  
  </html>