/*---Font: Pragmatica---*/

@font-face {
	font-family: 'Pragmatica';
	src: url('../shared/fonts/PragmaticaItalic.eot');
	src: url('../shared/fonts/PragmaticaItalic.eot?#iefix') format('embedded-opentype'),
		url('../shared/fonts/PragmaticaItalic.woff2') format('woff2'),
		url('../shared/fonts/PragmaticaItalic.woff') format('woff'),
		url('../shared/fonts/PragmaticaItalic.ttf') format('truetype'),
		url('../shared/fonts/PragmaticaItalic.svg#PragmaticaItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Pragmatica';
	src: url('../shared/fonts/PragmaticaBold.eot');
	src: url('../shared/fonts/PragmaticaBold.eot?#iefix') format('embedded-opentype'),
		url('../shared/fonts/PragmaticaBold.woff2') format('woff2'),
		url('../shared/fonts/PragmaticaBold.woff') format('woff'),
		url('../shared/fonts/PragmaticaBold.ttf') format('truetype'),
		url('../shared/fonts/PragmaticaBold.svg#PragmaticaBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Pragmatica';
	src: url('../shared/fonts/Pragmatica.eot');
	src: url('../shared/fonts/Pragmatica.eot?#iefix') format('embedded-opentype'),
		url('../shared/fonts/Pragmatica.woff2') format('woff2'),
		url('../shared/fonts/Pragmatica.woff') format('woff'),
		url('../shared/fonts/Pragmatica.ttf') format('truetype'),
		url('../shared/fonts/Pragmatica.svg#Pragmatica') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*---Generic---*/

:local .homePage {
    box-sizing: border-box; 
    font-family: Pragmatica, Arial, Helvetica, sans-serif;
}

  /*---Multiple Sections---*/

:local .marginOnTop {
  margin-top: 10px;
}

:local .flex_container {
    display: flex;
  }
  
 :local .homePage {
    flex-direction: column;
  }
  
 :local .full_height {
    min-height: calc(100vh - 130px);
    flex-direction: column;
    justify-content: center;
    padding: 2%;
  }
  
 :local .centered_text {
    text-align: center;
    font-weight: lighter; 
    max-width: 760px;
    align-self: center;   
  }
  
 :local .details_container {
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: space-around;
  }
  
 :local .detail {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
 :local .detail_header {
    font-size: 2em;
    color: #33669a;
    font-weight: lighter;
    margin-bottom: 10px;    
  }

  :local .red_text {
    color: #fe4a49;
  }
  
  /*---Welcome---*/
  
 :local .welcome {
    background-color: #475c64;
  }
  
 :local .welcome_header {
    font-size: 2em;
    color: #fffef3;
    text-align: center;
  }
  
 :local .actionButton {
    display: inline-block;
    width: 150px;
    line-height: 50px;
    border-radius: 5px;
    
    text-decoration: none;
    color: #475055;
    background-color: #9ed4ae;
    font-size: 1.2em;
  }
  
 :local .welcome_em {
    color: #9ed4ae;
    font-style: italic;
    font-weight: bold;
  }
  
  /*---About---*/
  
 :local .about {
    background-color: #fffef3;
  }
  
 :local .about_header {
    color: #fe4a49;
    font-size: 2em;
  }

  :local .about_subheader {
    font-size: 1.5em;
    margin-bottom: 0;
  }
  
 :local .big_blue_header {
    font-size: 3em;
    color: #33669a;
  }
  
  /*---How it Works---*/
  
 :local .howitworks {
    background-color: #d2ead7;
  }
  
 :local .howitworks_header {
    font-size: 3em;
    color: #475c64;
    font-weight: lighter;
  }
  
 :local .detail_thumbnail {
    border-style: solid;
    border-width: 1px;
    border-color: #475c64;
    height: 200px;
    margin-bottom: 20px;
  }
  
  /*---Media Queries---*/
  
  @media only screen and (min-width: 768px) {
    
   :local .full_height {
      padding: 6%;
    }
    
   :local .details_container {
      flex-direction: row;
      justify-content: center;
    }
    
   :local .detail {
      flex-direction: column;
      max-width: 300px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
  }
  