/*---Font: Pragmatica---*/

@font-face {
	font-family: 'Pragmatica';
	src: url('../shared/fonts/PragmaticaItalic.eot');
	src: url('../shared/fonts/PragmaticaItalic.eot?#iefix') format('embedded-opentype'),
		url('../shared/fonts/PragmaticaItalic.woff2') format('woff2'),
		url('../shared/fonts/PragmaticaItalic.woff') format('woff'),
		url('../shared/fonts/PragmaticaItalic.ttf') format('truetype'),
		url('../shared/fonts/PragmaticaItalic.svg#PragmaticaItalic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Pragmatica';
	src: url('../shared/fonts/PragmaticaBold.eot');
	src: url('../shared/fonts/PragmaticaBold.eot?#iefix') format('embedded-opentype'),
		url('../shared/fonts/PragmaticaBold.woff2') format('woff2'),
		url('../shared/fonts/PragmaticaBold.woff') format('woff'),
		url('../shared/fonts/PragmaticaBold.ttf') format('truetype'),
		url('../shared/fonts/PragmaticaBold.svg#PragmaticaBold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Pragmatica';
	src: url('../shared/fonts/Pragmatica.eot');
	src: url('../shared/fonts/Pragmatica.eot?#iefix') format('embedded-opentype'),
		url('../shared/fonts/Pragmatica.woff2') format('woff2'),
		url('../shared/fonts/Pragmatica.woff') format('woff'),
		url('../shared/fonts/Pragmatica.ttf') format('truetype'),
		url('../shared/fonts/Pragmatica.svg#Pragmatica') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*---Generic---*/

* {
    box-sizing: border-box; 
    font-family: Pragmatica, Arial, Helvetica, sans-serif;
}
  
  body {
    margin: 0; 
    font-weight: 500;
    font-family: 'HelveticaNeue';
  }

  /*---Multiple Sections---*/

.flex_container {
    display: flex;
  }
  
  .homePage {
    flex-direction: column;
  }
  
  .full_height {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
  }
  
  .centered_text {
    text-align: center;
  }
  
  .details_container {
    padding-left: 10%;
    padding-right: 10%;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .detail {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .detail_header {
    font-size: 1.5em;
    color: #33669a;
  }
  
  /*---Welcome---*/
  
  .welcome {
    background-color: #475c64;
  }
  
  .welcome_header {
    font-size: 2em;
    color: #fffef3;
    text-align: center;
  }
  
  .welcome_getStartedButton {
    margin-top: 20px;
  }
  
  .actionButton {
    display: inline-block;
    width: 150px;
    line-height: 50px;
    border-radius: 5px;
    
    text-decoration: none;
    color: #475055;
    background-color: #9ed4ae;
    font-size: 1.2em;
  }
  
  .welcome_em {
    color: #9ed4ae;
    font-style: italic;
  }
  
  /*---About---*/
  
  .about {
    background-color: #fffef3;
    justify-content: space-around;
  }
  
  .about_header {
    color: #475c64;
    font-size: 2em;
  }
  
  .big_blue_header {
    font-size: 3em;
    color: #33669a;
  }
  
  /*---How it Works---*/
  
  .howitworks {
    background-color: #d2ead7;
    justify-content: space-around;
  }
  
  .howitworks_header {
    font-size: 2em;
    color: #475c64;
  }
  
  .detail_thumbnail {
    border-style: solid;
    border-width: 1px;
    border-color: #475c64;
    height: 200px;
  }
  
  /*---Media Queries---*/
  
  @media only screen and (min-width: 768px) {
    
    .full_height {
      padding: 6%;
    }
    
    .details_container {
      flex-direction: row;
      justify-content: center;
    }
    
    .detail {
      flex-direction: column;
      max-width: 300px;
      padding-left: 10px;
      padding-right: 10px;
    }
    
  }
  