#body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #E0E0E0;
}

#header {
    background-color: #E0E0E0;
    height: 100%;
    padding-top: 1%;
    padding-left: 2%;
    margin-bottom: 0;
}

.panel_slateBG {
    margin-top: 0;
    background-color: #596A7E;
}

.panel_mintBG {
    background-color: #BFF7DB;
}

#getStartedButton {
    text-align: center;
    position: relative;
    clear: both;
}

h2 {
    padding: 10%;
    text-align: center;
    color: #FFFFFF;
}

h4 {
}

ul {
    list-style: none;
    display: inline-block;
    position: absolute;
    right: 2%;
}

 ul li {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #FAF7E8;
    color: #000ccc;
    transition: 0.3s;
}

ul li:hover{
    background-color:#beecea;
}

ul li.focused{
    color:#fff;
    background-color:#41c7c2;
}
