:local * {
    font-family: Pragmatica, Arial, Helvetica, sans-serif;
}

:local .flex_container {
    display: flex;
}

:local .exercise_container {
    align-self: center;
    flex-direction: column;
    max-width: 600px;
}

/*---Shared Styles---*/

:local .page_container {
    min-height: calc(100vh - 130px);
    background-color: #fffef3;
    flex-direction: column;
    justify-content: center;
}

:local .exercise_container {
    align-self: center;
    max-width: 800px;
    flex-direction: column;
}

:local .blue_text {
    color: #33669a;
    font-weight: lighter;
}

:local .exercise_content {
    flex-direction: column;
    justify-content: center;
}

:local .small_blue_header {
    font-size: 2em;
}


/*---Exercise header---*/

:local .exercise_header {
    flex-wrap: wrap;
    justify-content: center;
}

:local .exercise_name {
    font-size: 3em;
    flex: 1;
}


/*---Video panel---*/

:local .video_panel {
    width: 560px;
    align-self: center;
}

/*---input-panel---*/

:local .input_panel {
    padding: 2%;
    flex-direction: column;
    justify-content: space-between;
    min-width: 400px;
    max-width: 500px;
}

:local .input_header {
    font-size: 2em;
    
    margin-top: 10px;
    margin-bottom: 10px;
}

:local .quiz_btns_container {
    flex-direction: column;
    width: 100%;
}

:local .quiz_option {
    background-color: #fff;
    
    border-style: solid;
    border-width: .5px;
    border-color: #475055;
    border-radius: 5px;

    width: 100%;
    min-height: 50px;
    max-height: 60px;

    padding: 2%;
    margin-top: 5px;

    text-decoration: none;
    color: #475055;
}

:local .quiz_option:hover {
    border-color: #33669a;
    background-color: #33669a;
    color: #fffef3;
}

/*---Desktop & Tablet---*/
@media only screen and (min-width: 700px) {
    :local .page_header {
        flex-wrap: nowrap;
    }

    :local .exercise_content {
        flex-direction: row;
    }
}