:local * {
    font-family: Pragmatica, Arial, Helvetica, sans-serif;
}
:local strong{
  font-weight: bold;
}
:local .flex_container {
    display: flex;
}

/*---Shared Styles---*/

:local .page_container {
    min-height: calc(100vh - 130px);
    background-color: #fffef3;
    flex-direction: column;
    justify-content: center;
}

:local .exercise_container {
    align-self: center;
    max-width: 800px;
    flex-direction: column;
}


:local .exercise_content {
    flex-direction: column;
    justify-content: center;
}

:local .small_blue_header {
    font-size: 2em;
}

:local .blue_text {
    color: #33669a;
}

/*---Exercise header---*/

:local .exercise_header {
    flex-wrap: wrap;
}

/*---audio panel--*/

:local .audio_panel {
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

:local .audio_player,
:local .audio_controls {
    justify-content: center;
}

:local .player_img_container {
    width: 250px;
}

:local .player_img {
    width: 100%;
    align-self: center;
}

:local .audio_controls {
    white-space: nowrap;
}

:local .btn_img {
    width: 100%;
}

:local .audio_button {
    background-color: #fffef3;
    border-style: none;
    border-width: 0px;
    height: 100px;
    width: 100px;
}

@media only screen and (min-width: 700px) {
    :local .audio_player {
        max-width: 100%;
    }
}

/*---input-panel---*/

:local .input_panel {
    padding: 2%;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
    max-width: 500px;
}

:local .content_subheader {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
}

:local .user_input {
    min-width: 500px;
}

:local .user_input_area {
    resize: none;
    display: block;
    width: 100%;
    height: 75px;
    margin: 16px 0;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

:local .char_bar {
    padding-left: 0;
    list-style-type: none;
}

:local .char_bar li {
    flex: 1 1 auto;
    text-align: center;
}

:local .char_button {
    background-color: none;
    text-decoration: none;
    font-size: 1.4em;
    font-family: Arial, Helvetica, sans-serif;
    color: #475055;
}

:local .enter_button {
    width: 100%;
    line-height: 50px;
    border-radius: 5px;

    color: #475055;
    background-color: #9ed4ae;
    font-size: 1.5em;
    text-align: center;
}

:local .enter_button:hover {
    background-color: #33669a;
    color: #fffef3;
}

:local .tooltip_feedback {
    margin-top: 16px;
}

/*---HIDDEN ON THE FRENCH PAGE---*/
:local .es_chars {
    visibility: hidden;
}

/*---Desktop & Tablet---*/
@media only screen and (min-width: 700px) {
    :local .page_header {
        flex-wrap: nowrap;
    }
}
