
:local .flex_container {
    display: flex;
  }
  
  :local .page_container {
    flex-direction: column;
    text-align: center;
    min-height: 100vh;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  /*---header---*/
  
  :local .signup_header {
    font-size: 2em;
    margin-bottom: 20px;
    font-weight: lighter;
    color: #33669a;
  }
  
   /*---form---*/

  :local .signup_form {
    align-self: center;
    width: 300px;
  }

  /*---form fields---*/

  :local .form_icon {
    border-style: solid;
    border-width: 1px;
    border-color: #475c64;
    width: 40px;
    height: 40px;
  }

  .inputField {
    color: #475c64;
    padding-left: 10px;
    width: 100%;
  }
  
  :local .submitButton {
    width: 100%;
    background-color: #9ed4ae;
    color: #475c64;
    line-height: 30px;
    font-size: 1.2em;
  }

  /*---tooltip---*/

  :local .signup_tooltip {
    font-size: 12px;
  }

  :local .login_link {
    color: #33669a;
    text-decoration: none;
    font-style: italic;
  }

  :local .topSpace {
    margin-top: 10px;
  }

  /*---responsive---*/
  
  @media only screen and (min-width: 700px) {
    :local .signup_form {
      min-width: 300px;
      max-width: 500px;
    }
  }