*{
    margin: 0;
    padding: 0;
}
html {
    background: #fff;
}

body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif
}

.content {
    max-width: 100%;
    margin: auto;
}

.page_wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 49px;
}

#header {
    width: 100%;
    height: auto;
    background: #475c64;

}
#header .logo{
    width: 300px;
    float: left;
}

#header .logo img{
    width: 100%;
}

#header .getStarted .button {
    margin-right: 40px;
    background-color: #9ed4ae;
    /* border: 2px solid; */
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

#header .homeButton .button{
    background-color: #475c64;
    border: 2px solid;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
}

#main .title{
    margin-top: 150px;
    margin-left: 310px;
    /* float: left; */
}

#main .credits{
    max-width: 900px;
    margin: auto;
    margin-top: 50px;
}

#main .credits .audio_video{
    border: 2px solid #676767;
    max-width: 1000px;
}

#main .credits .audio_video p{
    font-size: 45px;
    color: #676767;
    margin-left: 10px;
}

#main .credits .audio_video img.img1{
    width: 274px;
    margin-left: 30px;
    margin-top: 30px;
}

#main .credits .audio_video img.img2{
    width: 292px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 25px;
}

#main .credits .technology{
    border: 2px solid #676767;
    max-width: 1000px;
    margin-top: 20px;
}

#main .credits .technology p{
    font-size: 45px;
    color: #676767;
    margin-left: 10px;
}

#main .credits .technology img.img1{
    width: 200px;
    margin-left: 28px;
    margin-top: 30px;
    margin-bottom: 7px;
}

#main .credits .technology img.img2{
    width: 200px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 18px;
}

#main .credits .technology img.img3{
    width: 200px;
    margin-left: -3px;
    margin-top: 30px;
    margin-bottom: 10px;
}

#main .credits .technology img.img4{
    width: 200px;
    margin-left: 22px;
    margin-top: 30px;
    margin-bottom: 19px;
}


#main .credits .team{
    display: flex;
    border: 2px solid #676767;
    max-width: 1000px;
    margin-top: 20px;
}

#main .credits .team p{
    font-size: 45px;
    color: #676767;
    margin-left: 10px;
}

#main .credits .team .krystina{
    border: 2px solid #676767;
    width: 150;
    height: 150;
    margin: 65px 0px 50px 32px;
}

#main .credits .team .jose{
    border: 2px solid #676767;
    width: 150;
    height: 150;
    margin: 65px 0px 50px 32px;
}

#main .credits .team .terrence{
    border: 2px solid #676767;
    width: 150;
    height: 150;
    margin: 65px 0px 50px 32px;
}

#main .credits .team .jennifer{
    border: 2px solid #676767;
    width: 150;
    height: 150;
    margin: 65px 0px 50px 32px;
}

#main .credits .team .krystina p.p1{
    font-size: 20px;
    margin-top: 160px;
}

#main .credits .team .jose p.p2{
    font-size: 20px;
    margin-top: 160px;
}

#main .credits .team .terrence p.p3{
    font-size: 20px;
    margin-top: 160px;
}

#main .credits .team .jennifer p.p4{
    font-size: 20px;
    margin-top: 160px;
}

/* #main p{
    color:red;
} */
.content p{
    color: blue;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
