*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
/*global wrapper*/
.page_wrap{
  width: 100%;
  max-width: 1020px;
  padding: 0 10px;
  margin: auto;
}
.page_wrap::after{
  clear: both;
  content: "";
  display: block;
}

/*header*/
#header{
  width: 100%;
  height: auto;
  padding: 5px 0;
  background: #475c64;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
#header::after{
  content: "";
  clear: both;
  display: block;
}
#header .logo{
  width: 200px;
  height: 50px;
  height: auto;
  float: left;
}
#header .logo img{
  width: 100%;
}
#header .menu{
  float: right;
}
#header .menu ul{
  list-style: none;
  float: right;
}
#header .menu > ul::after{
  content: "|";
  color: #fff;
  font-size: 20px;
  margin: 5px 0;
}
#header .menu > ul > li{
  width: auto;
  padding-left: 10px;
  display: inline-block;
}
#header .menu > ul > li > a{
  width: auto;
  height: 50px;
  line-height: 50px;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
}
#header .menu .account_wrap{
  float: right;
  position: relative;
}
#header .menu .account_wrap .account{
  width: auto;
  height: 50px;
  line-height: 50px;
  padding-left: 10px;
  cursor: pointer;
}

#header .menu .account_wrap .account .points{
  font-size: 20px;
  color: #fff;
  float: left;
  margin-right: 10px;
}
#header .menu .account_wrap .account .avatar{
  width: 40px;
  height: 40px;
  margin: 5px 0;
  border-radius: 100%;
  border: 4px solid #fff;
  float: left;
  background: #fff;
  overflow: hidden;
}
#header .menu .account_wrap .account .avatar img{
  width: 100%;
}
#header .menu .account_wrap .account .avatar img::after{
  content: "";
  width: 10px;
  height: 10px;
  background: red;
}
#header .menu .account_wrap .account .down_arrow{
  padding: 20px 0;
  padding-left: 5px;
  float: left;
}
#header .menu .account_wrap ul{
  display: none;
  background: #fff;
  position: absolute;
  right: 0;
  padding: 10px 0;
  z-index: 100;
  border-radius: 5px;
  box-shadow: 0 1px 0 0 rgba(0,0,0,0.1), 0 0 1px 1px rgba(0,0,0,0.08);
}
#header .menu .account_wrap ul::before{
  position: absolute;
  content: "";
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 3px 0 0 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: -2px -2px 2px rgba(0,0,0,0.08);
  right: 8px;
  top: -6px;
}
#header .menu .account_wrap ul li a{
  padding: 5px 10px;
  font-size: 16px;
  color: #4d4d4f;
  text-decoration: none;
  display: block;
}
/*main container*/
#main{
  width: 100%;
  height: auto;
  min-height: 500px;
  margin-top: 20px;
}
/*footer style*/
#footer{
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  background: #4d4d4d;
  padding: 0 10px;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0px -5px 10px 0px rgba(204, 204, 204, 0.75);
  -moz-box-shadow: 0px -5px 10px 0px rgba(204, 204, 204, 0.75);
  box-shadow: 0px -5px 10px 0px rgba(204, 204, 204, 0.75);
}


/*dashboard styling*/
.dashboard{
  width: 100%;
  height: auto;
}
.dashboard .box_wrap{
  width: 100%;
  float: left;
  padding: 20px;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}
.dashboard .box_wrap h2{
  width: 100%;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 20px;
}
.dashboard .language_progress{
  width: 48%;
  margin-right: 4%;
  float: left;
  height: 250px;
}
.dashboard .language_progress ul{
  list-style: none;
  text-align: left;
}
.dashboard .language_progress ul li{
  width: 30%;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  margin-right: 2%;
  font-size: 16px;
}
.dashboard .language_progress ul li img{
  width: 100%;
}
.dashboard .language_progress ul li p{
  font-size: 16px;
  line-height: 20px;
}
.dashboard .total_points{
  width: 48%;
  float: left;
  height: 250px;
}
.dashboard .total_points .points{
  font-size: 100px;
  line-height: 100px;
  color: #33669a;
}

/*achievement*/
.dashboard .achievements ul{
  list-style: none;
  text-align: left;
}
.dashboard .achievements ul li{
  width: 18%;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  margin-right: 1%;
  font-size: 16px;
  margin-bottom: 20px;
}
.dashboard .achievements ul li img{
  width: 100%;
}
.dashboard .achievements ul li p{
  font-size: 16px;
  line-height: 20px;
}

/*statistics*/
.dashboard .stats ul{
  list-style-type: none;
}
.dashboard .stats ul li{
  width: 23%;
  text-align: center;
  border-radius: 100%;
  display: inline-block;
  margin-right: 1%;
  font-size: 16px;
  margin-bottom: 20px;
}
.dashboard .stats ul li .time{
  width: 100%;
  height: 100px;
  line-height: 100px;
  font-size: 60px;
  color: #33669a;
  display: block;
  text-align: center;
}
.dashboard .stats ul li .time span{
  font-size: 20px;
}




/**/
