
:local .stickyContainer {
    position: fixed;
    width: 100%;
}

:local .flex_container {
    display: flex;
}

:local .page_header {
    background-color: #475c64;
    flex-wrap: wrap;    
}

:local .header_logo {
    padding-left: 20px;
    padding-top: 5px;
    flex: 1;
}

:local .logo {
    height: 50px;
    vertical-align: middle;
}

:local .nav_buttons {
    list-style-type: none;
    padding-left: 0;
    padding-right: 20px;
}

:local .nav_buttons li {
    align-self: center;
    text-align: center;
}

:local .nav_buttons a {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    border-radius: 5%;
    padding: 5% 1%;
    background-color: #fffef3;
    text-decoration: none;
    color: #475055;
}

:local .nav_buttons a:hover {
    background-color: #33669a;
    color: #fffef3;
}

:local .nav_buttons a:visited {
    color: #475055;
}

:local .nav_buttons a:visited:hover {
    color: #fffef3;
}

:local .nav_buttons li+li {
    padding-left: 3%;
}
