<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	
	<body>
		<form>
			<fieldset>
				<legend> Setting: </legend>
				<div>
					<label>Username: <br> <input type = "text" id="username"></label> <br>
					<button type="submit">Change username</button>
				</div>	
				
				<div>
					<label>Email: <br> <input type = "text" id="email"></label> <br>
					<button type = "submit">Change email</button>
				</div>
			</fieldset>
			
			<fieldset>
				<legend> Password: </legend>
				<label>Old Password: <br> <input type = "text" id="password"></label><br>
				<label>New Password: <br> <input type = "text" id="newpass"></label><br>
				<button type="submit">Submit</button>
			</fieldset>
		</form>
	</body>
	
</html>