:local .flex_container {
    display: flex;
}

:local audio_panel {
    justify-content: center;
}

/*---audio-panel---*/

:local .audio_player,
:local .audio_controls {
    justify-content: center;
}

:local .player_img_container {
    width: 250px;
}

:local .audio_player img {
    width: 100%;
}

:local .audio_controls {
    white-space: nowrap;
}

:local .audio_button {
    height: 100px;
    width: 100px;
}

@media only screen and (min-width: 700px) {
    :local .audio_player {
        max-width: 100%;
    }
}