<!DOCTYPE html>

<html>
    <head>
        <title>Transcription</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/quiz.css">
    </head>

    <body>
        <header class="page-header flex-container">
            <div class="page-header-logo"><img src="img/ListenUp_logo_white.png"></div>

            <ul class="page-header-buttons flex-container">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Log Out</a></li>
            </ul>

        </header>

        <div class="page-container flex-container">

            <section class="exercise-header flex-container">

                    <h4>quiz exercise</h4>

                    <div class="exercise-header-icons flex-container">

                        <div class="language-icon icon">
                            <img src="img/icon_fr.png">
                        </div>

                        <div class="score-icon icon">
                            <p class="score">9</p>
                        </div>

                    </div>
            </section>

            <section class="exercise-content flex-container">

                <div class="audio-panel">
                    <div class="audio-player flex-container">
                        <img src="img/icon_speaker_blue.png">
                    </div>

                    <div class="audio-controls flex-container">
                        <img src="img/audio_controls_play.png" class="audio-button">
                        <img src="img/audio_controls_pause.png" class="audio-button">
                        <img src="img/audio_controls_stop.png" class="audio-button">
                    </div>
                </div>

                <div class="answer-panel flex-container">

                    <h5 class="quiz-question">[Question that needs to be answered about the audio]?</h5>

                    <a class="answer-choice" href="#">First answer to the question
                        which has a bit of a long answer, possibly two lines?
                    </a>
                    <a class="answer-choice" href="#">Second answer to the question</a>
                    <a class="answer-choice" href="#">Third answer to the question</a>
                    <a class="answer-choice" href="#">Fourth answer to the question</a>
                    
                </div>
            </section>

        </div>
    </body>
</html>