<!DOCTYPE HTML>

<html>

<head>
        <link rel="stylesheet" type="text/css" href="css/landing.css"> 
</head>

<body>

    <nav>

        <img src="img/ListenUp_logo_white.png" class ="navLogo">

        <div class="loginButton">
            <a href="#">Login</a>
        </div>

    </nav>

    <section class="intro">  
        <div class="content">
        <h1 class="whiteHeader">Practice your listening comprehension
            by listening to how natives <em>actually</em> talk.
        </h1>
    </div>
    </section>

    <section class="about">
        <div class="content">
            <h2>This is another test header</h2>
            <h1 class="blueHeader">It's time to listenUP.</h1>

            
            <h4>real speakers.</h4>
            <p>This is a test paragraph about real speakers.</p>

            <h4>real talk.</h4>
            <p>This is a test paragraph about real talk.</p>
            
            <h4>real effective.</h4>
            <p>This is a test paragraph about real effectiveness.</p>
            
        </div>
    </section>

    <section class="howitworks">
        <div class="content">
            <h3>how it works</h3>


        </div>
    </section>
  
  <footer>
    <a href="#">Credits</a>
  </footer>

  </body>
  
  </html>