<!DOCTYPE>

<html>

	<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width">
	<title>Signup</title>
    <link rel="stylesheet" href="css/style.css">
	</head>

	<body>

		<div id="header" class="clearfix">
			<div class="page_wrap">
				<div class="logo">
					<img src="img/ListenUp_logo_white.png" alt="listenUp_logo">
				</div>

				<div class="homeButton">

				<a href="http://www.google.com">
					<button class="button">Home </button>
				</a>

				</div>
			</div>
		</div>
		<!-- end of header -->

		<div id="main" class="clearfix">
			<div class="page_wrap">
				<div class="signup">
                    <h1>Create an account</h1>
                    <form action="/submit.php">
                        <div class="input_wrapper">
                            <img src="img/" alt="img">
                            <input type="text" name="name" placeholder="Your Name" maxlength="30" size="30" >
                        </div>

                        <div class="input_wrapper">
                            <img src="img/" alt="img">
                            <input type="email" name="email" placeholder="Your Email" maxlength="30" size="30" >
                        </div>

                        <div class="input_wrapper">
                            <img src="img/" alt="img">
                            <input type="password" name="password" placeholder="Your Password" maxlength="30" size="30" >
                        </div>
                    </form>
                    <div class="login">
                        Already have an account? Sign in <a href="t:\School 2017-18\Software Engineering\listenUP\templates\login\index.html">here</a>
                    </div>
					
					
				</div>

			</div>

		</div>



	</body>



</html>
